<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Author</title>
</head>
<body>
	<div align="center">
		<h1>Create New Author</h1>
		<br/>
		<form  th:action="@{/authors/save}" th:object="${updateauthor}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>First Name:</td>
					<td><input type="text" th:field="*{firstName}" /></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input type="text" th:field="*{lastName}" /></td>
				</tr>
				
			</table><br>
			<center><button type="submit">Save</button></center>
		</form>
	</div>
</body>
</html>